# ./.gitignore

### Ansible

# Ansible Vault Dateien (falls genutzt)
*.vault.yml
vault.yml

# Ansible inventory
inventory*.ini

# Ansible modules
ansible/proxmox



### Terraform/OpenTofu

# Terraform state
*.tfstate
*.tfstate.*
terraform.tfstate
terraform.tfstate.*
.terraform.lock.hcl

# Sensitive variable files
*.tfvars
*.auto.tfvars
terraform.tfvars
terraform.tfvars.json

# Terraform working directory
.terraform/

# Terraform Plan files
*.tfplan

# Notes
notes.tf



### Packer

# Packer
*.pkrvars.hcl



### Misc

# Temporäre Dateien
*.retry

# Crash logs
crash.log
crash.*.log

# Old files
*.old

# Log files
*.log

