# Terraform state
*.tfstate
*.tfstate.*
terraform.tfstate
terraform.tfstate.*
.terraform.lock.hcl

# Crash logs
crash.log
crash.*.log

# Sensitive variable files
*.tfvars
*.auto.tfvars
terraform.tfvars
terraform.tfvars.json

# Terraform working directory
.terraform/

# Optional: Plan files (falls du sie erzeugst)
*.tfplan

# Ansible Vault Dateien (falls genutzt)
*.vault.yml

# Temporäre Dateien
*.retry

*.old

ansible/

# Packer
*.pkrvars.hcl