# ./terraform.tfvars.example

proxmox_url     = "https://ProxmoxIPorHostname:8006/api2/json" # Proxmox API URL
proxmox_user    = "user@pve!api-name" # Proxmox user name
proxmox_token   = "11111111-1111-1111-1111-111111111111" # Proxmox API token
private_ssh_key = "~/.ssh/MyPrivateKeyFile"
public_ssh_key  = "ssh-ed25519 AAAA..." # Your SSH public key
linux_user      = "DefaultUsername" # Name of the user to create and become sudoer on every machine
subnet          = "10.1.1" # First three octets of the subnet all machines should be using. Will be used to generate all fixed machine IPs plus the gateway IP
root_password   = "DefaultRootPassword"
searchdomain    = "example.lan"
nameserver      = "1.1.1.1"


containers = {
  pihole1 = {
    target_node         = "pve-node1"
    vmid                = 10000
    name                = "container-name"
    template            = var.lxc_template_image
    storage             = "local-lvm"
    cores               = 2
    memory              = 2048
    swap                = 512
    unprivileged        = true
    bridge              = "vmbr0"
    subnet              = var.subnet
    searchdomain        = var.searchdomain
    nameserver          = var.nameserver
    gateway_last_octet  = var.gateway_last_octet
    public_ssh_key      = var.public_ssh_key
    private_ssh_key     = var.private_ssh_key
    root_password       = var.root_password
    onboot              = true
    start_after_create  = true
    extra_tags          = ["some", "describing", "tags"]
    nesting             = true
  }
}
